/* calendar */
table.calendar {
    border-left: 1px solid #999;
}

tr.calendar-row {
}

td.calendar-day {
    min-height: 80px;
    font-size: 14px;
    position: relative;
}

* html div.calendar-day {
    height: 80px;
}

td.calendar-day:hover {
    background: #eceff5;
}

td.calendar-day-np {
    background: #eee;
    min-height: 80px;
}

* html div.calendar-day-np {
    height: 80px;
}

td.calendar-day-head {
    background: #ccc;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

div.day-number {
    padding: 20px;
    font-weight: bold;
    float: right;
    width: 50px;
    text-align: center;
}



/* shared */
td.calendar-day, td.calendar-day-np {
    width: 20px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}
